#logIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2vh;
    padding-top: 5vh;
}

#logIn label {
    font-size: 2.5vh;
}

#logIn input {
    height: 6vh;
    border: none;
    border-radius: 1000px;
    box-sizing: border-box;
    padding: 0 2vh;
    width: 100%;
    margin: 1vh 0;
    font-size: 2.5vh;
}

#logIn input[type='submit'] {
    background-color: rgb(255, 109, 109);
    color: white;
}