#uploadForm {
    padding: 2vh;
    display: flex;
    flex-direction: column;
}

#uploadForm>label {
    font-size: 2.5vh;
}

#uploadForm>input,
#uploadForm>select,
#uploadForm>aside {
    height: 6vh;
    border: none;
    border-radius: 1000px;
    box-sizing: border-box;
    padding: 0 2vh;
    appearance: none;
    width: 100%;
    background-color: white;
    margin: 1vh 0;
    font-size: 2.5vh;
    color: inherit;
}

#uploadForm aside {
    display: flex;
    align-items: center;
    justify-content: center;
}

#uploadForm input[type='submit'] {
    background-color: rgb(255, 109, 109);
    color: white;
}